@media (max-width: 1200px) {
    body{
        font-size: 12px;
    }
   #proyectos .pro-appgym{
           
        top:  50px;}
}
@media (max-width: 992px) {
    body{
        font-size: 12px;
    }
    #proyectos .pro-appgym{
           
        flex-wrap:  wrap;}
}
@media (max-width: 768px) {
    body{
        font-size: 12px;
    }
    
}
@media (max-width: 576px) {
    
    .nav-invisible{
        display: none;
    }
    .dropdown{
        margin: 0 auto;
        display: list-item;
    }
    .dropdown-btn{
        
        display: block;
    }
    .dropdown:hover .dropdown-content{
        display: block;
        box-shadow: 0 4px 4px rgba(0, 0, 0,0.3);
    }
    .nav-main{
        font-size: 0.8rem;
    }
    .informacion{
        max-width: 500px;
    }
    #proyectos .pro-appgym{
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #proyectos .pro-gym{
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
@media (max-width: 320px) {
    
    .informacion img{
        max-width: 8em;
    }
    
}
@media (max-width: 200px) {
    .informacion h2{
        font-size: 0.625rem;
    }
    .informacion img{
        max-width: 2em;
    }
    
}
